#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainBox {
  background-color:grey;
  width: 550px;
  height: 500px;
  padding: 30px;
}

.displayPlayers{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnEscolha {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 450px;
  margin: 0 auto;
}

.esclhas {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #9B9774; 
  border-radius: 5px;
  width: 130px;
  height: 130px;
}


.inputID{
  margin: auto;
  background-color: white;
  color:black;
}

.inputDiv{

}
