.displayPlayers p {
    color: orange;
    font-size: large;
    font-weight: bold;
  }
  
.div1 {
  border-width:1px;
  border-style:solid;
  border-color:orange;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.div2 {
  border-width:1px;
  border-style:solid;
  border-color:orange;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.div1Blur {
  border-width:1px;
  border-style:solid;
  /*border-color:orange;*/
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0.5;
}
.div2Blur {
  border-width:1px;
  border-style:solid;
  /*border-color:orange;*/
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0.5;
}

.simb {
  width: 30px;
  height: 30px;
}
